Papers
tmp
etd_confirmation.pdf

*.log

*.d
**/*.d
**/**/*.d

*.aux
**/*.aux
**/**/*.aux

*.tex.bak
**/*.tex.bak
**/**/*.tex.bak

*~
**/*~
**/**/*~

thesis.bbl
thesis.blg
thesis.brf
thesis.lof
thesis.lot
thesis.out
thesis.toc
